


<div class="row">
  <div class="col-md-12">
    <div class="card my-4">
      <h5 class="card-header">Meine Favoriten</h5>
      <div class="card-body">
        <h1>Personen: </h1>
        <% if @favorite_persons != nil %>
          <ul>
            <% @favorite_persons.each do |favorite| %>
              <li>
                <%= favorite[0].xpath("//firstname").first.content %>
                <%= favorite[0].xpath("//lastname").first.content %>
                <%= link_to "details", controller: "person", action: "detail", id: favorite[1] %>
                <%= link_to "unfavorite", deletefavorite_path(:person, favorite[1]), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <h1>Kurse: </h1>
        <% if @favorite_courses != nil %>
          <ul>
            <% @favorite_courses.each do |favorite| %>
              <li>
                <%= favorite[0].xpath("//coursenumber").first.content %>
                <%= favorite[0].xpath("//title//de").first.content %>
                <%= link_to "details", controller: "course", action: "detail", id: favorite[1] %>
                <%= link_to "unfavorite", deletefavorite_path(:course, favorite[1]), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <h1>Arbeiten: </h1>
        <% if @favorite_thesis != nil %>
          <ul>
            <% @favorite_thesis.each do |favorite| %>
              <li>
                <%= favorite[0].xpath("//title//de").first.content %>
                <%= link_to "details", controller: "thesis", action: "detail", id: favorite[1] %>
                <%= link_to "unfavorite", deletefavorite_path(:thesis, favorite[1]), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <h1>Projekte: </h1>
        <% if @favorite_project != nil %>
          <ul>
            <% @favorite_project.each do |favorite| %>
              <li>
                <%= favorite[0].xpath("//titlede").first.content %>
                <%= favorite[0].xpath("//abstractde").first.content %>
                <%= link_to "details", controller: "project", action: "detail", id: favorite[1] %>
                <%= link_to "unfavorite", deletefavorite_path(:project, favorite[1]), method: :delete %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</div>