<h1>Search for some Courses</h1>

<%= render "searchable/search" %>

<ul>
  <% if @results != nil %>
    <table class="table table-striped table-hover">
      <tr>
        <th>Kursname</th>
        <th>Beschreibung</th>
        <th>Anzeigen</th>
        <th>Favoriten</th>
      </tr>
      <% @results.each do |course| %>
        <tr>
          <td><%= course["title"] %></td>
          <td><%= course["short"] %></td>
          <td>x</td>
          <td>
            <% if @favorite_ids.include? CourseController.get_id_from_json(course) %>
              <%= link_to "unfavorite", deletefavorite_path(:course, CourseController.get_id_from_json(course)), method: :delete %>
            <% else %>
              <%= link_to "favorite", controller: "favorites", action: "create", object_type: :course, tiss_id: CourseController.get_id_from_json(course) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% end %>
</ul>


