

<h1>
  <%= @result.xpath("//project//titlede").first.content %>
</h1>

<% if @is_favorite %>
  <%= link_to "unfavorite", deletefavorite_path(:project, @id), method: :delete %><br/>
<% else %>
  <%= link_to "favorite", controller: "favorites", action: "create", object_type: :project, tiss_id: @id %><br/>
<% end %>

<p><b>Projekttyp:</b> <%= @result.xpath("//project//projectform").first.content %></p>

<% if @result.xpath("//project//abstractde").first %>
  <p>
    <%= @result.xpath("//project//abstractde").first.content %>
  </p>
<% end %>

<p>
  <b>Keywords:</b>
<% @result.xpath("//project//keywords//keyword//de").each do |keyword| %>
  <%= ProjectController.removetags(keyword) %>,&nbsp;
<% end %>
</p>