<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.css"/>

  <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/r-2.2.2/datatables.min.js"></script>

  <script>
      $(document).ready( function () {
          $('.table').DataTable({responsive: true});
          $('#persontable').DataTable({responsive: true});
      } );
  </script>

  <title>TU Ruby Explorer</title>

  <!-- Bootstrap core CSS -->

  <!-- Custom styles for this template -->
  <style>
    body {
      padding-top: 54px;
    }
    @media (min-width: 992px) {
      body {
        padding-top: 56px;
      }
    }

  </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <%= link_to "TU Ruby Explorer", root_path, { :class=>"navbar-brand" } %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <%= link_to "Personen", search_person_path, { :class=>"nav-link" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Lehrveranstaltungen", search_course_path, { :class=>"nav-link" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Arbeiten", search_thesis_path, { :class=>"nav-link" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Projekte", search_project_path, { :class=>"nav-link" } %>
        </li>
        <li class="nav-item">
          <%= link_to "Favoriten", favorites_path, { :class=>"nav-link" } %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to('Logout', destroy_user_session_path, method: :delete, class: "nav-link") %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to('Login', new_user_session_path, class: "nav-link")  %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Page Content -->
<div class="container" style="margin-top: 20px;">
      <%= yield %>
</div>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.js"></script>

</body>

</html>